<div id="calculator" class="modal fade" role="dialog">
    <div class="modal-sm modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Calculadora</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="screen"></div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row buttons">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-3"><a class="clear">C</a></div>
                                    <div class="col-xs-3"><a href="-" class="val">&plusmn;</a></div>
                                    <div class="col-xs-3"><a href="/" class="val">&divide;</a></div>
                                    <div class="col-xs-3"><a href="*" class="val">&times;</a></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-3"><a href="7" class="val">7</a></div>
                                    <div class="col-xs-3"><a href="8" class="val">8</a></div>
                                    <div class="col-xs-3"><a href="9" class="val">9</a></div>
                                    <div class="col-xs-3"><a href="-" class="val">-</a></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-3"><a href="4" class="val">4</a></div>
                                    <div class="col-xs-3"><a href="5" class="val">5</a></div>
                                    <div class="col-xs-3"><a href="6" class="val">6</a></div>
                                    <div class="col-xs-3"><a href="+" class="val">+</a></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-4"><a href="1" class="val">1</a></div>
                                                    <div class="col-xs-4"><a href="2" class="val">2</a></div>
                                                    <div class="col-xs-4"><a href="3" class="val">3</a></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-8"><a href="0" class="val wide shift">0</a></div>
                                                    <div class="col-xs-4"><a href="." class="val shift">.</a></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row">
                                            <div class="col-xs-12"><a class="equal tall">=</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="" class="outcome"/>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            </div>
        </div>
    </div>
</div>
