<div id="date-filter" class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Filtrar desde el:
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" id="startDate" name="min" readonly="readonly">
                </div>
            </label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Filtrar hasta el:
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" id="endDate" name="max" readonly="readonly">
                </div>
            </label>
        </div>
    </div>
</div>
