{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>
                {% if grammaticalGender|default == 'f' %}
                    {% if 'GET' == method %}
                        Detalles de la
                    {% elseif 'POST' == method %}
                        Nueva
                    {% elseif 'PUT' == method %}
                        Editar
                    {% elseif 'DELETE' == method %}
                        Eliminar
                    {% endif %}
                {% else %}
                    {% if 'GET' == method %}
                        Detalles del
                    {% elseif 'POST' == method %}
                        Nuevo
                    {% elseif 'PUT' == method %}
                        Editar
                    {% elseif 'DELETE' == method %}
                        Eliminar
                    {% endif %}
                {% endif %}
                {{ suffix }}
            </h3>
        </div>
        {{ form_start(form, {'action': action, 'method': method }) }}
        <div class="modal-body">
            <div class="modal-container">
                {{ form_widget(form) }}
            </div>
            <div class="loader"></div>
        </div>
        <div class="modal-footer">
            {% if 'GET' != method %}
                <button type="button" class="btn btn-primary ajax-submit">Aceptar</button>
            {% endif %}
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
