{% extends '@App/adminlte/layout.html.twig' %}

{% block main_container %}
    <div class="img-container">
        <img class="img" src="{{ asset('bundles/app/img/construction.png') }}" style="max-width: 500px">
    </div>
{% endblock main_container %}